<div id="map"></div>


  <input type="checkbox" ng-model="cameraStatus" ng-change="toggleCameraState(cameraStatus)">Cameras</input>
  <input type="checkbox" ng-model="accidentStatus" ng-change="toggleAccidentState(
  accidentStatus)">Accidents</input>
  <input type="checkbox" ng-model="pedestrianStatus" ng-change="togglePedestrianState(
  pedestrianStatus)">Pedestrians</input>
  <input type="checkbox" ng-model="carStatus" ng-change="toggleCarState(carStatus)">Cars</input>

  </div>
  <!-- end row -->
</div>
