<div class="header">
	<div class="cont">
		<p class="title"><b>Traffix</b> <span>/</span> San Diego</p>
		<p class="loading"><img src="images/loading.gif" ng-show="isLoading"> Loading...</p>
	</div>
</div>

<div id="map">
	<div ng-show="showGraph" class="overlay">
		<canvas id="myChart" height="200" width="300"></canvas>
		<!-- <canvas id="speedOverTime" height="200" width="300"></canvas> -->
	</div>
</div>

<div class="footer">
	<div class="cont">
		<ul class="inline">
			<li><input type="checkbox" ng-model="cameraStatus" ng-change="toggleCameraState(cameraStatus)"> GE smart LED streetlights</li>
			<li><input type="checkbox" ng-model="accidentStatus" ng-change="toggleAccidentState(accidentStatus)"> Fatal Accidents</li>
			<li><input type="checkbox" ng-model="pedestrianStatus" ng-change="togglePedestrianState(pedestrianStatus)"> Pedestrian Heatmap</li>
			<li><input type="checkbox" ng-model="carStatus" ng-change="toggleCarState(carStatus)"> Car Heatmap</li>
			<li><input type="checkbox" ng-model="showGraph" ng-change="toggleGraph(showGraph)"> Graphs</li>
			<li><input type="range" ng-model="hoursEndRange" ng-change="hoursChanged()" min="1" max="12"> Show Past {{hoursEndRange}} Hours</li>
		</ul>
	</div>
</div>