<!doctype html>
<html ng-app="traffixApp" ng-controller="MainController">
    <head>
        <title>Traffix</title>

        <script src="javascript/jquery-3.1.0.min.js"></script>

        <script src="javascript/angular.min.js"></script>
        <script src="javascript/angular-route.js"></script>
        <script src="javascript/bootstrap.min.js"></script>
        <script src="javascript/rzslider.min.js"></script>
        <script src="javascript/ui-bootstrap-tpls.js"></script>
        <script src='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.js'></script>

        <script src="MainController.js"></script>

        <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/rzslider.css" />
        <link href='https://api.mapbox.com/mapbox-gl-js/v0.21.0/mapbox-gl.css' rel='stylesheet' />

    </head>
    <body>
        <div id="splash_screen">
            <h1>Traffix</h1>
            <h2>Powered by Predix</h2>
        </div>
        <div id="content"> 
            <nav class="navbar navbar-default navbar-fixed-top" id="traffix_navbar">
      
                <div id="navbar_header">
                    Traffix
                </div>

                <div id="navbar_city">
                    San Diego
                </div>

                <!-- Search Bar -->
                <div id="search_input_container">
                  <input
                    id="search_input"
                    type="text"
                    >
                </div>

                <div id="navbar_pages">
                    <ul>
                        <li id="alert_dropdown"
                            ng-init="alertsrc = icons.alert[0]"
                            ng-mouseover="alertsrc = icons.alert[1]"
                            ng-mouseout="alertsrc = icons.alert[0]">

                            <img ng-src="{{alertsrc}}"/>
                            <p>Alerts</p>
                            <ul>
                                <p>CURRENT INCIDENTS</p>
                                <span ng-repeat="incident in current_incidents">
                                    <li>{{incident.intersection}}</li>
                                    <span ng-if="!$last"><hr /></span>
                                </span>

                            </ul>

                        </li>
                        <li id="hotspot_dropdown"
                            ng-init="hotspotsrc = icons.hotspots[0]"
                            ng-mouseover="hotspotsrc = icons.hotspots[1]"
                            ng-mouseout="hotspotsrc = icons.hotspots[0]">

                            <img ng-src="{{hotspotsrc}}"/>
                            <p>Potential Hotspots</p>
                            <ul>
                                <p>POTENTIAL ACCIDENTS</p>
                                <span ng-repeat="incident in current_incidents">
                                    <li>{{incident.intersection}}</li>
                                    <span ng-if="!$last"><hr /></span>
                                </span>
                            </ul>
                        </li>

                        <li ng-init="settingsrc = icons.settings[0]"
                            ng-mouseover="settingsrc = icons.settings[1]"
                            ng-mouseout="settingsrc = icons.settings[0]">

                            <img ng-src="{{settingsrc}}"/>
                            <p>Settings</p>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Content Here -->
            <div id='map' style='width: 100%;'></div>

            <footer class="footer">
                <div class="content container-fluid">

                    <div id="timeline" class="col-md-4">
                        TIMELINE

                        <rzslider rz-slider-model="slider.value"
                                  rz-slider-options="slider.options"></rzslider>
                    </div>

                    <div id="overlay" class="col-md-4">
                        OVERLAY
                        <div id="overlay_checkbox">
                            <input type="checkbox"/>Traffic Flow</input>
                            <input type="checkbox">Accidents</input>
                            <input type="checkbox">Potential Hotspots</input>
                        </div>
                    </div>

                    <div id="panels" class="col-md-4">
                        PANELS
                        <div id="panels_checkbox">
                            <input type="checkbox">Graphs</input>
                            <input type="checkbox">Other Statistics</input>
                        </div>
                    </div>

                </div>
            </footer>
        </div>

        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoidHVuZ2FsYmVydDk5IiwiYSI6ImNpcXhkbGplbTAxZnhmdm1nMjkycnE5ZjYifQ.nPjdhFFlu1agC8JmquUkkw';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/tungalbert99/ciqxdskwv0007c4ktiubhssd4'
            });

            document.getElementById("map").height = window.innerHeight + "px";
        </script>

    </body>
</html>
