<!doctype html>
<html ng-app="traffixApp" ng-controller="MainController">
    <head>
        <title>Traffix</title>

        <script src="javascript/jquery-3.1.0.min.js"></script>

        <script src="javascript/angular.min.js"></script>
        <script src="javascript/angular-route.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>
        <script src="javascript/bootstrap.min.js"></script>
        <script src="javascript/rzslider.min.js"></script>
        <script src="javascript/ui-bootstrap-tpls.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
        
        <script src="mainController.js"></script>

        <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/rzslider.css" />
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

    </head>
    <body>
        <div id="splash_screen">
            <h1>Traffix</h1>
            <h2>Powered by Predix</h2>
        </div>
        <div id="content"> 
            <nav class="navbar navbar-default navbar-fixed-top" id="traffix_navbar">
      
                <div id="navbar_header">
                    Traffix
                </div>

                <div id="navbar_city">
                    San Diego
                </div>
            </nav>

            <!-- Content Here -->
            <!-- <div class="panels graph" ng-if="showPanelGraph">Graphs</div>
            <div class="panels stats" ng-if="showPanelStats">Stats</div> -->

            <div id='map'></div>

            <footer class="footer">
                <div class="content container-fluid">

                    <div id="timeline" class="col-md-4">
                        TIMELINE

                        <rzslider rz-slider-model="slider.value"
                                  rz-slider-options="slider.options"></rzslider>
                    </div>

                    <div id="overlay" class="col-md-4">
                        OVERLAY
                        <div id="overlay_checkbox">
                            <input type="checkbox"/>Traffic Flow</input>
                            <input type="checkbox">Accidents</input>
                            <input type="checkbox">Potential Hotspots</input>
                        </div>
                    </div>

                    <div id="panels" class="col-md-4">
                        PANELS
                        <div id="panels_checkbox">
                            <input type="checkbox" ng-model="showPanelGraph">Graphs</input>
                            <input type="checkbox" ng-model="showPanelStats">Other Statistics</input>
                        </div>
                    </div>

                </div>
            </footer>
        </div>

    </body>
</html>
